
body{
    background-color:antiquewhite;
}

.text-primaly {
    margin-top: 20px;
}

@media screen and ( max-width: 800px ){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    header { grid-area: 1 / 1 / 2 / 2; }
    main { grid-area: 2 / 1 / 7 / 2; }
    footer { grid-area: 7 / 1 / 8 / 2;}
    #main_vidual_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #main_vidual {
        width:300px;
        height:auto;
        margin-top: 80px;
        }
}

@media screen and ( min-width: 800px ) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    header { grid-area: 1 / 1 / 2 / 3; }
    main { grid-area: 2 / 1 / 5 / 3; }
    footer { grid-area: 5 / 1 / 6 / 3;}
    #main_vidual_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #main_vidual {
        width:600px;
        height:auto;
        margin-top: 100px;
    }
}
