/* common parts */
.flex_vertical_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex_holizontal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container_style_1 {
    margin-top:80px
}

.container_style_2 {
    margin-top:200px
}

.container_style_3 {
    margin-top:150px
}

.message_style {
    margin-top: 50px;
}

.button_group {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: row;
    position:relative;
    bottom:5px;
    left:-20px
}

.space_right_5px {
    margin-right: 5px;
}

.space_top_20px {
    margin-top: 20px;
}

.approve {
    font-size: x-large;
    text-decoration: underline;
}

/* parts */
body{
    background-color:antiquewhite;
}

input {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top:0; 
    /* navbarとcardの重なりを指定 */
    z-index: 20;
}

.flex_holizontal_container .nav-item {
    margin-right: 15px;
}

#accordion_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#accordion_nav li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar:checked ~ #links li{
    height: 54px;
    opacity: 1;
}

.card {
    /* navbarとcardの重なりを指定 */
    z-index: 10;
}

.card-header {
    width:100%;
}

.card-body {
    margin-right: auto;
}

.text-primaly {
    margin-top: 20px;
}

.form-control {
    width:300px; 
}

#usage_container_style {
    margin-left: 20px;
    
}


@media screen and ( max-width: 750px ){
    #main_vidual_style {
        width:300px;
        height:auto;
        margin-top: 160px;
        }

    #menubar_visibility {
        /* menubarの表示切り替え */
        visibility: visible;
        }
    #menu_visibility {
        /* menuの表示切り替え */
        visibility: collapse;
        }
    #card_style {
        width: 280px;
        height: 240px;
    }
}

@media screen and ( min-width: 750px ) {
    #main_vidual_style {
        width:600px;
        height:auto;
        margin-top: 160px;
    }
    #menubar_visibility {
        visibility: collapse;
    }
    #menu_visibility {
        visibility: visible;
    }
    #card_style {
        width: 350px;
        height: 230px;
    }

}
