{% extends "layout.html" %}

{% block title %}
    delete
{% endblock %}

{% block main %}
<p>Delete a book</p>
    <form action="/edit_delete" method="post">
        <div class="form-group">
            <input autocomplete="on" autofocus class="form-control" name="delete_book" placeholder="book title" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
    <dif>
      <h2 style="color:orangered;">{{msg}}</h2>
    </dif>
    <div>
        <a href="./edit_add">Back</a>
    </div>
    <h3>Your book list</h3>
    {% for book in books %}
    {% if book.to_dict().uid == uid %}
    <div>
        <h3>title: {{ book.to_dict().book_title }}</h3>
        <h4>author: {{ book.to_dict().book_author }}</h4>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
