{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}
    <p>{{user}} is login</p>
    {% for book in books %}
        <div>
            <p>{{ book.to_dict().recommended_by}} recommends</p>
            <h3>title: {{ book.to_dict().book_title }}</h3>
            <h4>author: {{ book.to_dict().book_author }}</h4>
            <p>vote: {{ book.to_dict().votes}}</p>
            <button class="vote_btn btn-primary" type="submit">Vote</button>
        </div>
    {% endfor %}
{% endblock %}
