{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}
    <p>{{data[0]}} is login</p>
    <p>Vote</p>
    {% for book in data[1] %}
        <div>
            <p>{{ book.to_dict().recommended_by}} recommends</p>
            <h3>title: {{ book.to_dict().book_title }}</h3>
            <h4>author: {{ book.to_dict().book_author }}</h4>
            <h4>summary: {{ book.to_dict().book_summary }}</h4>
            <p>vote: {{ book.to_dict().votes}}</p>
            <button onclick="vote('{{book.to_dict().book_title}}')">Vote</button>
        </div>
    {% endfor %}
{% endblock %}


