<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <title> {% block title %}{% endblock %} </title>
    </head>
    <body>
        <!-- if screen width is less than 750px -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div id="accordion_nav">
                <div>
                    <a class="navbar-brand" href="/">QFBTokyo</a>
                </div>
                <div id="menubar_visibility">
                    <label for="menu_bar"><span class="navbar-toggler-icon"></span></label>
                    <input type="checkbox" id="menu_bar" />
                        <ul id="links" class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a></li>
                            {% if session.usr %}
                                <li class="nav-item"><a class="nav-link" href="/usage">Usage</a></li>
                                <li class="nav-item"><a class="nav-link" href="/edit_add">Edit</a></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        {% endif %}
                            </li>
                        </ul>
                </div>
            </div>

            <!-- if screen width is greater than 750px -->
            <div id="menu_visibility" >
                <ul class="navbar-nav me-auto flex_holizontal_container">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a></li>
                    {% if session.usr %}
                        <li class="nav-item"><a class="nav-link" href="/usage">Usage</a></li>
                        <li class="nav-item"><a class="nav-link" href="/edit_add">Edit</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                {% endif %}
                    </li>
                </ul>
            </div>
          </nav>

        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
        </footer>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <script>
            // @index.html
            function vote(book_title){
                let url = ""; 
                $.ajax({
                    url: "/",
                    data: { val: book_title },
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        response = data;
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log("Error occured while requested \n" + url + "\n" + textStatus +":\n" + errorThrown);
                    }}); 
                (function(){
                    window.alert("Done");
                    window.location.reload();
                }()); 
            }
        </script>
    </body>
</html>
