{% extends "layout.html" %}

{% block title %}
    usage 
{% endblock %}

{% block main %}
    <div class="container_style_3 flex_vertical_container">
        <h3>Hello!</h3>
        <div>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        This app is aimed to list up books for our book club.<br> 
                        For better user experience, if you find anything, feel free to reach us out.<br>
                        Thank you! 
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <p class="text-muted"></p>Organizers from <cite title="Source Title">QFBTokyo</cite></p>
                </figcaption>
            </figure>
        </div>
        <div class="approve">
            <a class="nav-link" href="/">OK</a>
        </div>
    </div>
{% endblock %}

