{% extends "layout.html" %}

{% block title %}
    usage 
{% endblock %}

{% block main %}
    <h3>Hello!</h3>
    <p>
    This app is aimed at listing candidate books 
    for our book club. <br>
    You can vote to a book once for each book.<br>
    Also you can add your favorite book from <i>Edit</i> page.<br>
    For better user experience, if you find anything through using this app,<br>
    feel free to reach us out.<br>
    Thank you! 
    </p>
    <a class="nav-link" href="/">I got it</a>
{% endblock %}