{% extends "layout.html" %}

{% block title %}
    delete book
{% endblock %}

{% block main %}

    <div class="flex_container">
            {% for book in books %}
            {% if book.to_dict().uid == uid %}
        <div class="card bg-light mb-3 flex_vertical_container" style="max-width: 20rem;" id="card_style">
            <div class="card-header">posted at: {{book.to_dict().posted_at.year}}/{{book.to_dict().posted_at.month}}/{{book.to_dict().posted_at.day}}</div>
            <div class="card-body">
                <h4 class="card-title">{{ book.to_dict().book_title }}</h4>
                <p class="card-text">{{ book.to_dict().book_author }}</p>
                <p>{{ book.to_dict().book_summary }}</p>
            </div>
            <button type="button" class="btn btn-secondary" onclick="show_deleteDialog()">Delete</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
